#include <../boards/shields/kyria/boards/nice_nano.overlay>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NUMPAD 0
#define BLUETOOTH 1

/ {
    macros {
        sz0: sz0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp Z &kp N0 &kp RET>;
            label = "SZ0";
        };

        sx0: sx0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp X &kp N0 &kp RET>;
            label = "SX0";
        };

        sy0: sy0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp Y &kp N0 &kp RET>;
            label = "SY0";
        };

        o0: o0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N0 &kp RET>;
            label = "O0";
        };

        rz90: rz90 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp Z &kp N9 &kp N0 &kp RET>;
            label = "RZ90";
        };

        rx90: rx90 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp X &kp N9 &kp N0 &kp RET>;
            label = "RX90";
        };

        ry90: ry90 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp Y &kp N9 &kp N0 &kp RET>;
            label = "RY90";
        };

        mum: mum {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp>, <&macro_press>, <&kp FSLH>;

            label = "MUM";
        };

        taskmanager: taskmanager {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_press>, <&kp LC(LA(DELETE))>;

            label = "TASKMANAGER";
        };

        w: w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "W";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            display-name = "Numpad";

            // +---------------------------+                      
            // |   7  |   8  |   9  |   *  |                      
            // +------+------+------+------+
            // |   4  |   5  |   6  |   /  |                      
            // +------+------+------+------+-------+     
            // |   1  |   2  |   3  |   *  | L-BT  |                     
            // +------+------+------+------+-------+    
            // |   0  |   .  |  +   |   =  |                          
            // +------+------+------+------+  

            bindings = <
                       &mo 2      &mo 1
                                  &kp LALT

&kp Y                             &kp LCTRL
&kp Z                             &kp LSHFT
            &kp LC(C)  &kp LC(V)
&kp LG(N1)                        &kp LGUI
&kp F5                            &kp N4

            &kp UP
&kp LEFT    &kp RET    &kp RIGHT
            &kp DOWN

                       &kp S
&kp N5      &kp TAB               &kp ESC    &kp N6
                       &kp L
            >;

            sensor-bindings = <&inc_dec_kp LC(Y) LC(Z)>;
        };

        layer_bluetooth {
            display-name = "BT";

            // +---------------------------+                      
            // |CLEAR |      |      |BTLDR |                      
            // +------+------+------+------+
            // |      |      |      |      |                      
            // +------+------+------+------+-------+     
            // | PF1  | PF2  |  PF3 |      | L-BT  |                      
            // +------+------+------+------+-------+    
            // |      |      |      |      |                          
            // +------+------+------+------+     

            bindings = <
                             &kp LALT           &kp LALT
                                                &kp N3

&sy0                                            &sx0
&sz0                                            &kp LC(B)
          &kp LS(D)          &kp LC(D)
&kp N7                                          &kp L
&kp LALT                                        &kp V

          &ry90
&rz90     &kp KP_DIVIDE      &rx90
          &o0

                             &kp LS(LC(LA(T)))
&kp B     &kp LS(LC(LA(L)))                     &kp LS(LC(LA(R)))  &kp E
                             &kp LS(LC(LA(B)))
            >;

            sensor-bindings = <&inc_dec_kp LC(C_VOLUME_UP) LC(C_VOLUME_DOWN)>;
        };

        layer_2 {
            display-name = "Numpad";
            bindings = <
                                  &kp N4           &kp N5
                                                   &kp N6

&sy0                                               &kp LGUI
&sz0                                               &kp LA(B)
                 &kp LS(L)        &kp LS(R)
&kp KP_DIVIDE                                      &kp LALT
&kp LALT                                           &kp KP_N3

                 &kp KP_NUMBER_7
&kp KP_NUMBER_1  &kp KP_DOT       &kp KP_NUMBER_9
                 &kp KP_NUMBER_3

                                  &kp LS(LC(T))
&kp N4           &kp LS(LC(L))                     &kp LS(LC(R))  &kp N7
                                  &kp LS(LC(B))
            >;

            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };
    };
};
