#include <../boards/shields/kyria/boards/nice_nano.overlay>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define NUMPAD 0
#define BLUETOOTH 1

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_numpad {
            display-name = "Numpad";

            bindings = <
                &kp N7 &kp N8 &kp N9 &kp ASTERISK
                &kp N4 &kp N5 &kp N6 &kp SLASH
                &kp N1 &kp N2 &kp N3 &kp MINUS &bt BT_SEL
                &kp N0 &kp DOT &kp PLUS &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_bluetooth {
            display-name = "BT";

            bindings = <
                &kp CLEAR &none &none &bt BT_BOOT
                &none &none &none &none
                &kp PF1 &kp PF2 &kp PF3 &none &bt BT_SEL
                &none &none &none &none
            >;

            sensor-bindings = <&inc_dec_kp LC(Z) LC(Y)>;
        };
    };
};
