/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

#include <dt-bindings/led/led.h>









/ {

	chosen {
   zephyr,display = &oled;
   zmk,underglow = &led_strip;
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <12>;
		rows = <1>;
		map = <
			RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)   RC(0,5)  RC(0,6)  RC(0,7) 
                        RC(0,8)  RC(0,9)    RC(0,10)    RC(0,11)   
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";
		input-gpios =
			<&pro_micro  21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			<&pro_micro  14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			
			
			<&pro_micro  15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		;
	

};



 encoder: encoder {
		compatible = "alps,ec11";
		a-gpios = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <48>;
    status = "okay";
 };

 sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder>;
		triggers-per-rotation = <12>;
 };
}; 


 encoder: encoder {
		compatible = "alps,ec11";
		a-gpios = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <48>;
    status = "okay";
 };

 sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder>;
		triggers-per-rotation = <12>;
 };
}; 

&pro_micro_i2c {
  status = "okay";

 oled: ssd1306@3c {
    compatible = "solomon,ssd1306fb";
    reg = <0x3c>;
    width = <128>;
    height = <32>;
    segment-offset = <0>;
    page-offset = <0>;
    display-offset = <0>;
    multiplex-ratio = <31>;
    com-invdir;
    segment-remap;
    com-sequential;
    prechargep = <0x22>;
  };
};
