/ {
    chosen {
        zephyr,display = &oled;
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios =
            <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    encoder0: encoder_0 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "okay";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder0>;
        triggers-per-rotation = <12>;
    };

    leds {
        compatible = "gpio-leds";
        layer_led: led_layer {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "Layer NeoPixel";
        };
    };

    battery {
        compatible = "zmk,battery";
        io-channels = <&adc 2>;
        label = "Battery";
        status = "okay";
    };

    zephyr,user {
        io-channels = <&adc 2>;
    };
};

&adc {
    status = "okay";
    #io-channel-cells = <1>;
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        com-invdir;
        segment-remap;
        com-sequential;
        prechargep = <0x22>;
    };
};

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 27)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 27)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
    status = "okay";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <12>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

